:root {
  --primary-color: #00000099;
  --primary-card: #ffffff;
  --secondary-card: #ffffff;
  --font-light: #ffffff;
  --font-dark: #000000;
  --shadow-card: #ffffff55;
  --border-card: #000000cc;
}

body {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(/img/single-bgr.jpg);
  background-repeat: repeat;
  background-size: contain;
  position: relative;
  margin: 0;
}

.dispfl-c {
  display: flex;
  justify-content: center;
}

.d-none {
  display: none;
}

.noscrolling {
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}

.mainLogo {
  height: 7rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 3rem;
}

#pokeIndex {
  flex-wrap: wrap;
  width: 100%;
}
#pokeIndex .pokeIndexOverview {
  width: 200px;
  height: 160px;
  border: 2px solid var(--primary-card);
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
#pokeIndex .pokeIndexOverview .pokeIndexHeadline {
  display: flex;
  justify-content: space-between;
}
#pokeIndex .pokeIndexOverview .pokeIndexHeadline span {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--font-dark);
}
#pokeIndex .pokeIndexOverview .pokeIndexHeadline span:first-letter {
  text-transform: uppercase;
}
#pokeIndex .pokeIndexOverview .pokeIndexContent {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  height: 80%;
  background-color: var(--shadow-card);
  box-shadow: inset 0 0 10px var(--primary-color);
  border-radius: 1rem;
}
#pokeIndex .pokeIndexOverview .pokeIndexContent .pokeIndexTypes {
  display: flex;
  flex-direction: column;
  width: 6rem;
  padding-left: 0.5rem;
}
#pokeIndex .pokeIndexOverview .pokeIndexContent .pokeIndexTypes .pokeIndexType {
  width: 100%;
  margin: 4px 0;
  border-radius: 0.5rem;
  padding: 4px 0;
  font-weight: 600;
}
#pokeIndex .pokeIndexOverview .pokeIndexContent img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#pokeDetailPopup {
  position: absolute;
  position: fixed;
  overflow-y: scroll;
  z-index: 3;
  height: 100vh;
  width: 100%;
}
#pokeDetailPopup #pokeDetailSpacer {
  z-index: 4;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4666666667);
  display: flex;
  justify-content: center;
  align-items: center;
}
#pokeDetailPopup #pokeDetailSpacer #pokeDetail {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 5;
  height: 100%;
  width: 28rem;
  border-radius: 2rem;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.8666666667);
}
#pokeDetailPopup #pokeDetailSpacer #pokeDetail .pokeDetailMenu {
  height: 10%;
}
#pokeDetailPopup #pokeDetailSpacer #pokeDetail .pokeDetailUpper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 2rem;
}
#pokeDetailPopup #pokeDetailSpacer #pokeDetail .pokeDetailUpper .pokeDetailSort {
  display: flex;
  justify-content: space-between;
}
#pokeDetailPopup #pokeDetailSpacer #pokeDetail .pokeDetailUpper .pokeDetailSort span {
  margin: 1rem 2rem 0.5rem 2rem;
  font-size: 2rem;
  font-weight: 700;
}
#pokeDetailPopup #pokeDetailSpacer #pokeDetail .pokeDetailUpper .pokeDetailSort span:first-letter {
  text-transform: uppercase;
}
#pokeDetailPopup #pokeDetailSpacer #pokeDetail .pokeDetailUpper .pokeDetailTypes {
  display: flex;
  margin: 0.5rem 2rem 0.5rem 2rem;
}
#pokeDetailPopup #pokeDetailSpacer #pokeDetail .pokeDetailUpper .pokeDetailTypes .pokeIndexType {
  margin-right: 1rem;
  width: 80px;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--primary-color);
}
#pokeDetailPopup #pokeDetailSpacer #pokeDetail .pokeDetailBtnEffect {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background-color: var(--primary-card);
  border-radius: 2rem;
  box-shadow: 0 0 10px var(--primary-color);
}
#pokeDetailPopup #pokeDetailSpacer #pokeDetail .pokeDetailBtnEffect .pokeDetailLower {
  position: relative;
  height: 100%;
  width: 100%;
}
#pokeDetailPopup #pokeDetailSpacer #pokeDetail .pokeDetailBtnEffect .pokeDetailLower .pokeDetailAvatar {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 200px;
  max-width: 200px;
  top: -7rem;
  left: 50%;
}/*# sourceMappingURL=style.css.map */