:root {
  --card-border: #e2e2e299;
  --card-shadow: #ffffff55;
  --card-text: #7c7c7cdd;
  --font-dark: #000000;
  --font-hover: #ffc800;
  --menu-decor: #a9a9a966;
  --primary-color: #00000099;
  --secondary-card: #ffffff;
  --secondary-color-dim: #2b4a6866;
  --secondary-color: #3661ac;
}

body {
  background-color: var(--secondary-color-dim);
  display: flex;
  flex-wrap: wrap;
  font-family: "Plus Jakarta Sans", sans-serif;
  justify-content: center;
  margin: 0;
  position: relative;
}

.dispfl-c {
  display: flex;
  justify-content: center;
}

.d-none {
  display: none;
}

.noscrolling {
  overflow: hidden;
}

.active {
  color: var(--font-dark) !important;
  border-bottom: 2px solid var(--font-dark) !important;
}

.nameUppercase:first-letter {
  text-transform: uppercase;
}

.cursor {
  cursor: pointer;
}

.header {
  align-items: center;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 15rem;
  justify-content: center;
  width: 100%;
}
.header .mainLogo {
  height: 7rem;
  margin: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 20rem;
}
.header .searchbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.header .searchbar #searchinput {
  background-color: var(--font-hover);
  border-radius: 1rem;
  border: 2px solid var(--secondary-color);
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  width: 200px;
}

/********** Pokemon Index ***********/
#pokeIndex {
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;
}
#pokeIndex .pokeIndexOverview {
  border-radius: 1rem;
  border: 2px solid var(--card-border);
  height: 260px;
  margin: 1.5rem;
  padding: 0.5rem;
  width: 300px;
}
#pokeIndex .pokeIndexOverview:hover {
  transform: scale(1.1);
}
#pokeIndex .pokeIndexOverview .pokeIndexHeadline {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
#pokeIndex .pokeIndexOverview .pokeIndexHeadline span {
  color: var(--font-dark);
  font-size: 1rem;
  font-weight: 600;
}
#pokeIndex .pokeIndexOverview .pokeIndexHeadline span:first-letter {
  text-transform: uppercase;
}

.pokeIndexContent {
  background-color: var(--card-shadow);
  background-image: url(../img/header-bgr-tr.jpg);
  background-size: cover;
  border-radius: 1rem;
  box-shadow: inset 0 0 10px var(--primary-color);
  display: flex;
  height: 80%;
  justify-content: center;
  padding-top: 0.5rem;
}
.pokeIndexContent .pokeIndexTypes {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  width: 6rem;
}
.pokeIndexContent .pokeIndexTypes .pokeIndexType {
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 4px 0;
  padding: 4px 0;
  width: 100%;
}
.pokeIndexContent img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/********** Pokemon Details ***********/
#pokeDetailPopup {
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  z-index: 3;
}
#pokeDetailPopup #pokeDetailSpacer {
  position: relative;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4666666667);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  z-index: 4;
}

#pokeDetail {
  background-image: url(../img/header-bgr-tr.jpg);
  border-radius: 2rem;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.8666666667);
  display: flex;
  flex-direction: column;
  height: 800px;
  position: relative;
  width: 450px;
  z-index: 5;
}
#pokeDetail .pokeDetailNav {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 100px;
}
#pokeDetail .pokeDetailNav img {
  height: 2rem;
  margin-top: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 2rem;
}
#pokeDetail .pokeDetailNav img:hover {
  background-color: var(--font-hover);
  border-radius: 100%;
  box-shadow: 0 0 10px var(--font-hover);
  transform: scale(1.2);
}

.pokeDetailTypes {
  display: flex;
  margin: 0.5rem 2rem 0.5rem 2rem;
}
.pokeDetailTypes .pokeIndexType {
  border-radius: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  width: 80px;
}

.pokeDetailUpper {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 1rem 0;
  position: relative;
}
.pokeDetailUpper .pokeDetailSort {
  display: flex;
  justify-content: space-between;
}
.pokeDetailUpper .pokeDetailSort span {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 2rem 0.5rem 2rem;
}
.pokeDetailUpper .pokeDetailSort span:first-letter {
  text-transform: uppercase;
}

.pokeDetailBtnEffect {
  background-color: var(--secondary-card);
  border-radius: 2rem;
  bottom: 0;
  box-shadow: 0 0 10px var(--primary-color);
  height: 60%;
  position: absolute;
  width: 100%;
}
.pokeDetailBtnEffect .pokeDetailLower {
  display: flex;
  height: 90%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.pokeDetailBtnEffect .pokeDetailLower .pokeDetailAvatar {
  left: 50%;
  max-height: 200px;
  max-width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: -11rem;
}

.pokeDetailMenu {
  height: 1rem;
  padding: 0;
  width: 100%;
}
.pokeDetailMenu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1rem 2rem;
  padding: 0;
}
.pokeDetailMenu ul li {
  border-bottom: 2px solid var(--menu-decor);
  color: var(--card-text);
  display: flex;
  justify-content: center;
  padding: 1rem;
  white-space: pre-wrap;
  width: 33%;
}
.pokeDetailMenu ul li:hover {
  border-bottom: 2px solid var(--font-dark);
  color: var(--font-dark);
}

#pokeDetailContent {
  height: 100%;
  margin: 1rem;
  width: auto;
}

.tableAbilities {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
}
.tableAbilities tr th {
  color: var(--card-text);
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  width: 70px;
}
.tableAbilities tr td {
  padding: 0 1rem;
}
.tableAbilities tr .abilityWrap {
  flex-wrap: wrap;
}
.tableAbilities tr .abilitySpacer {
  margin-right: 1rem;
}

.tableStats {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
}
.tableStats tr th {
  color: var(--card-text);
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  width: 130px;
}
.tableStats tr .baseStats {
  padding: 0 1.5rem;
}
.tableStats tr .statsBar {
  background-color: var(--card-border);
  height: 3px;
  width: 180px;
}
.tableStats tr .statsBar .statsProgess {
  -webkit-animation: progress-animation 2s linear infinite;
          animation: progress-animation 2s linear infinite;
  background-size: 300% 100%;
  display: block;
  background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
}

@-webkit-keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
.detailHeadline {
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 2px;
}

.detailMoves {
  display: flex;
  flex-wrap: wrap;
  height: 370px;
  overflow-y: scroll;
  padding-left: 1rem;
  width: 100%;
}
.detailMoves .moveSpacer {
  background-color: var(--font-hover);
  border-radius: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

/****** Media Queries ******/
/***** Vertical Design  *****/
@media (max-width: 380px) {
  #pokeIndex {
    height: 220px;
    margin-top: 1rem;
    width: 100%;
  }
  #pokeIndex .pokeIndexOverview {
    margin: 1rem 0;
    padding: 0.5rem;
    width: 80%;
    height: 200px;
  }
  #pokeIndex .pokeIndexOverview .pokeIndexHeadline {
    padding-bottom: 1rem;
  }
  #pokeIndex .pokeIndexOverview .pokeIndexTypes {
    width: 3rem;
  }
}
@media (max-width: 550px) {
  .header {
    height: unset;
  }
  .mainLogo {
    margin: 0.5rem !important;
    -o-object-fit: contain;
       object-fit: contain;
    width: 12rem !important;
  }
  #searchinput {
    padding: 0.5rem !important;
  }
  .pokeIndexAvatar {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    height: 90% !important;
    width: 100% !important;
  }
  #pokeDetail {
    width: 100%;
    height: 100%;
    border-radius: 0;
    font-size: 0.65rem;
  }
  #pokeDetail .pokeDetailAvatar {
    max-height: 120px;
    max-width: 120px;
    top: -7rem;
    left: 60%;
  }
  #pokeDetailContent {
    height: 100%;
  }
  .pokeDetailNav img {
    height: 1.5rem !important;
    margin-top: 0.5rem !important;
  }
  .pokeDetailName {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    margin: 0.25rem 1rem !important;
  }
  .pokeDetailId {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    margin: 0.25rem 1rem !important;
  }
  .pokeIndexType {
    width: 50px !important;
  }
  .pokeDetailBtnEffect {
    border-radius: 1rem 1rem 0 0;
  }
  .pokeDetailBtnEffect .pokeDetailMenu li {
    padding: 0.25rem;
  }
  .tableStats {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  .detailMoves {
    height: 220px !important;
  }
}/*# sourceMappingURL=style.css.map */